---
import { API_FETCH_GET } from "astro:env/client";

const res = await fetch(API_FETCH_GET);
const urls = await res.json();
---

{
  urls?.map((url: any) => (
    <div class="url">
      <a href={`/${url.shortUrl}`}>{url.nameUrl}</a>
    </div>
  ))
}
